.cui3-text,
.cui3-text a,
.cui3-text h1,
.cui3-text h2,
.cui3-text h3,
.cui3-text h4,
.cui3-text h5,
.cui3-text h6,
.cui3-text p,
a.cui3-text,
h1.cui3-text,
h2.cui3-text,
h3.cui3-text,
h4.cui3-text,
h5.cui3-text,
h6.cui3-text,
p.cui3-text {
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c
}

.cui3-text b,
.cui3-text strong,
b.cui3-text,
strong.cui3-text {
    font-weight: 700
}

.cui3-text.cui3-text--strike,
.cui3-text .cui3-text--strike {
    text-decoration: line-through
}

.cui3-text h1,
h1.cui3-text {
    font: 400 24px/32px Open Sans, sans-serif;
    margin-bottom: 20px
}

.cui3-text h2,
h2.cui3-text {
    font: 400 20px/28px Open Sans, sans-serif;
    margin-bottom: 16px
}

.cui3-text h3,
h3.cui3-text {
    font: 600 16px/24px Open Sans, sans-serif;
    margin-bottom: 12px
}

.cui3-text h4,
.cui3-text h5,
.cui3-text h6,
h4.cui3-text,
h5.cui3-text,
h6.cui3-text {
    font: 600 14px/20px Open Sans, sans-serif;
    margin-bottom: 7px
}

.cui3-text p,
p.cui3-text {
    line-height: 20px;
    margin-bottom: 16px
}

.cui3-text h1,
.cui3-text h2,
.cui3-text h3,
.cui3-text h4,
.cui3-text h5,
.cui3-text h6,
.cui3-text p,
h1.cui3-text,
h2.cui3-text,
h3.cui3-text,
h4.cui3-text,
h5.cui3-text,
h6.cui3-text,
p.cui3-text {
    margin-top: 0
}

.cui3-text a,
a.cui3-text {
    color: #317ae2;
    text-decoration: none;
    font-weight: 600
}

.cui3-text a:not(.cui3-button):hover,
a.cui3-text:not(.cui3-button):hover {
    text-decoration: underline
}

.cui3-text hr,
hr.cui3-text {
    height: 1px;
    border: 0;
    background: #e5e5e5;
    margin: 8px 0
}

.cui3-text blockquote,
blockquote.cui3-text {
    border-left: 2px solid #e5e5e5;
    padding: 16px;
    margin: 4px 0
}

.cui3-avatar {
    height: 32px;
    width: 32px;
    display: inline-flex;
    box-sizing: border-box;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    background: rgba(49, 122, 226, .16);
    border-radius: 50%;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    color: #317ae2;
    line-height: 1;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    flex: 0 0 auto;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-avatar__image {
    width: 100%;
    min-height: 100%;
    vertical-align: top
}

.cui3-avatar--user {
    background: #cbcccd;
    color: #fff
}

.cui3-avatar--organization {
    border-radius: 3px
}

.cui3-avatar--xl {
    height: 48px;
    width: 48px
}

.cui3-avatar--l {
    height: 40px;
    width: 40px
}

.cui3-avatar--s {
    width: 24px;
    height: 24px;
    font-size: 11px
}

.cui3-avatar--xs {
    width: 16px;
    height: 16px
}

.cui3-avatar--xs .cui3-avatar__icon {
    margin-bottom: -4px
}

.cui3-avatar--organization.cui3-avatar--xs .cui3-avatar__icon {
    margin-bottom: 0
}

.cui3-badge {
    height: 16px;
    min-width: 8px;
    box-sizing: border-box;
    background: #e5e5e5;
    border-radius: 2px;
    font: 600 10px/14px Open Sans, sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    cursor: default;
    vertical-align: top
}

.cui3-badge__label {
    letter-spacing: .5px;
    padding: 0 4px;
    box-sizing: border-box
}

.cui3-badge .cui3-icon,
.cui3-badge .cui3-icon--s {
    width: 12px;
    height: 12px;
    margin: 0 2px
}

.cui3-badge--green {
    background: #2cbf55;
    color: #fff
}

.cui3-badge--blue {
    background: #317ae2;
    color: #fff
}

.cui3-badge--red {
    background: #e84646;
    color: #fff
}

.cui3-badge--yellow {
    background: #fc0
}

.cui3-badge--white {
    background: #fff
}

.cui3-badge--purple {
    background: #800ace;
    color: #fff
}

.cui3-badge--outline {
    background: hsla(0, 0%, 100%, .16);
    color: #97999a;
    box-shadow: inset 0 0 0 1px #97999a
}

.cui3-badge--outline.cui3-badge--green {
    background: rgba(44, 191, 85, .16);
    color: #309d4f;
    box-shadow: inset 0 0 0 1px #2cbf55
}

.cui3-badge--outline.cui3-badge--blue {
    background: rgba(49, 122, 226, .16);
    color: #317ae2;
    box-shadow: inset 0 0 0 1px #317ae2
}

.cui3-badge--outline.cui3-badge--red {
    background: rgba(232, 70, 70, .16);
    color: #e84646;
    box-shadow: inset 0 0 0 1px #e84646
}

.cui3-badge--outline.cui3-badge--yellow {
    background: rgba(255, 204, 0, .16);
    color: #d6ab00;
    box-shadow: inset 0 0 0 1px #fc0
}

.cui3-badge--outline.cui3-badge--purple {
    background: rgba(128, 10, 206, .16);
    color: #800ace;
    box-shadow: inset 0 0 0 1px #800ace
}

.cui3-badge--outline.cui3-badge--white {
    background: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 1px #fff
}

.cui3-badge--outline.cui3-badge--white .cui3-icon,
.cui3-badge--outline.cui3-badge--white .cui3-icon--s {
    fill: #fff
}

.cui3-badge--tier-silver {
    background: rgba(38, 41, 44, .08);
    color: #747678;
    box-shadow: inset 0 0 0 1px #cbcccd
}

.cui3-badge--tier-silver .cui3-icon {
    fill: #747678
}

.cui3-badge--tier-gold {
    background: rgba(255, 204, 0, .16);
    color: #d6ab00;
    box-shadow: inset 0 0 0 1px #fc0
}

.cui3-badge--tier-gold .cui3-icon {
    fill: #fc0
}

.cui3-badge--tier-platinum {
    background: rgba(49, 122, 226, .16);
    color: #498ae5;
    box-shadow: inset 0 0 0 1px #498ae5
}

.cui3-badge--tier-platinum .cui3-icon {
    fill: #498ae5
}

.cui3-badge--outline.cui3-badge--tier-silver {
    background: hsla(0, 0%, 100%, .16);
    color: #cbcccd;
    box-shadow: inset 0 0 0 1px #97999a
}

.cui3-badge--outline.cui3-badge--tier-silver .cui3-icon,
.cui3-badge--outline.cui3-badge--tier-silver .cui3-icon--s {
    fill: #97999a
}

.cui3-badge--outline.cui3-badge--tier-gold {
    background: rgba(255, 204, 0, .16);
    color: #fc0;
    box-shadow: inset 0 0 0 1px #fc0
}

.cui3-badge--outline.cui3-badge--tier-gold .cui3-icon,
.cui3-badge--outline.cui3-badge--tier-gold .cui3-icon--s {
    fill: #fc0
}

.cui3-badge--outline.cui3-badge--tier-platinum {
    background: rgba(49, 122, 226, .24);
    color: #cddff9;
    box-shadow: inset 0 0 0 1px #cddff9
}

.cui3-badge--outline.cui3-badge--tier-platinum .cui3-icon,
.cui3-badge--outline.cui3-badge--tier-platinum .cui3-icon--s {
    fill: #cddff9
}

.cui3-button {
    background: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    min-height: 32px;
    min-width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    font: 600 14px/20px Open Sans, sans-serif;
    color: #26292c;
    transition: background .12s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
    padding: 4px 8px;
    vertical-align: top
}

.cui3-button:focus {
    outline: none
}

.cui3-button:hover {
    background: #f7f7f7
}

a.cui3-button:hover {
    text-decoration: none
}

.cui3-button--active:hover:not([disabled]),
.cui3-button--active:not([disabled]),
.cui3-button:active:hover:not([disabled]),
.cui3-button:active:not([disabled]) {
    background: #e5e5e5;
    box-shadow: inset 0 0 0 1px #cbcccd, 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button[disabled] {
    background: #fff;
    cursor: not-allowed;
    box-shadow: inset 0 0 0 1px #cbcccd
}

.cui3-button[disabled]>.cui3-icon,
.cui3-button[disabled]>span {
    opacity: .32
}

.cui3-button--active[disabled] {
    background: #e5e5e5;
    box-shadow: inset 0 0 0 1px #cbcccd, 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button>span {
    color: #26292c;
    padding: 0 8px;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cui3-button>.cui3-icon {
    flex-shrink: 0
}

.cui3-button--blue>span {
    color: #fff
}

.cui3-button--blue {
    background: #317ae2;
    box-shadow: 0 1px 2px rgba(38, 41, 44, .08)
}

.cui3-button--blue:hover {
    background: #528fe7
}

.cui3-button--blue.cui3-button--active:hover:not([disabled]),
.cui3-button--blue.cui3-button--active:not([disabled]),
.cui3-button--blue.cui3-button:active:hover:not([disabled]),
.cui3-button--blue.cui3-button:active:not([disabled]) {
    background: #2966be;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--blue[disabled] {
    background: #79a9f0;
    box-shadow: none
}

.cui3-button--blue[disabled]>.cui3-icon,
.cui3-button--blue[disabled]>span {
    opacity: 1
}

.cui3-button--blue.cui3-button--active[disabled] {
    background: #2966be;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--blue.cui3-button--active[disabled]>.cui3-icon,
.cui3-button--blue.cui3-button--active[disabled]>span {
    opacity: .32
}

.cui3-button--green>span {
    color: #fff
}

.cui3-button--green {
    background: #2cbf55;
    box-shadow: 0 1px 2px rgba(38, 41, 44, .08)
}

.cui3-button--green:hover {
    background: #4ec970
}

.cui3-button--green.cui3-button--active:hover:not([disabled]),
.cui3-button--green.cui3-button--active:not([disabled]),
.cui3-button--green.cui3-button:active:hover:not([disabled]),
.cui3-button--green.cui3-button:active:not([disabled]) {
    background: #25a047;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--green[disabled] {
    background: #75d78f;
    box-shadow: none
}

.cui3-button--green[disabled]>.cui3-icon,
.cui3-button--green[disabled]>span {
    opacity: 1
}

.cui3-button--green.cui3-button--active[disabled] {
    background: #25a047;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--green.cui3-button--active[disabled]>.cui3-icon,
.cui3-button--green.cui3-button--active[disabled]>span {
    opacity: .32
}

.cui3-button--red>span {
    color: #fff
}

.cui3-button--red {
    background: #e84646;
    box-shadow: 0 1px 2px rgba(38, 41, 44, .08)
}

.cui3-button--red:hover {
    background: #ec6464
}

.cui3-button--red.cui3-button--active:hover:not([disabled]),
.cui3-button--red.cui3-button--active:not([disabled]),
.cui3-button--red.cui3-button:active:hover:not([disabled]),
.cui3-button--red.cui3-button:active:not([disabled]) {
    background: #c33b3b;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--red[disabled] {
    background: #f28887;
    box-shadow: none
}

.cui3-button--red[disabled]>.cui3-icon,
.cui3-button--red[disabled]>span {
    opacity: 1
}

.cui3-button--red.cui3-button--active[disabled] {
    background: #c33b3b;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--red.cui3-button--active[disabled]>.cui3-icon,
.cui3-button--red.cui3-button--active[disabled]>span {
    opacity: .32
}

.cui3-button--ghost,
.cui3-button--ghost-secondary {
    color: #26292c;
    transition: opacity .12s ease-in-out;
    min-width: 32px
}

.cui3-button--ghost-secondary:hover,
.cui3-button--ghost:hover {
    background: transparent;
    opacity: 1
}

.cui3-button--ghost-secondary>span,
.cui3-button--ghost>span {
    color: #26292c
}

.cui3-button--ghost-secondary.cui3-button--active,
.cui3-button--ghost.cui3-button--active,
.cui3-button.cui3-button--ghost-secondary:active,
.cui3-button.cui3-button--ghost:active {
    background: #e5e5e5;
    box-shadow: none;
    opacity: .64
}

.cui3-button--ghost-secondary:hover {
    box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08)
}

.cui3-button--ghost-secondary.cui3-button--active,
.cui3-button.cui3-button--ghost-secondary:active {
    opacity: 1;
    box-shadow: 0 0 0 rgba(38, 41, 44, 0), inset 0 1px 2px rgba(38, 41, 44, .16)
}

.cui3-button--ghost,
.cui3-button--ghost-secondary,
.cui3-button.cui3-button--ghost-secondary[disabled],
.cui3-button.cui3-button--ghost[disabled] {
    box-shadow: none;
    background: transparent;
    opacity: .64
}

.cui3-button--s {
    min-height: 24px;
    min-width: 24px;
    padding: 0 4px
}

.cui3-button--s>span {
    padding: 0 4px;
    font: 600 12px/16px Open Sans, sans-serif
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
    .cui3-button {
        height: 32px
    }
    .cui3-button.cui3-button--s {
        height: 24px
    }
}

.cui3-button-group {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start
}

.cui3-button-group .cui3-button {
    margin-right: -1px;
    border-radius: 0
}

.cui3-button-group .cui3-button:first-child {
    border-radius: 3px 0 0 3px
}

.cui3-button-group .cui3-button:last-child {
    border-radius: 0 3px 3px 0
}

.cui3-button-group .cui3-button:only-child {
    border-radius: 3px
}

.cui3-checkbox {
    display: inline-flex;
    box-sizing: border-box
}

.cui3-checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    z-index: -1
}

.cui3-checkbox .cui3-checkbox__checkmark {
    display: inline-block;
    margin-top: 2px;
    margin-right: 8px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #b9babb;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: #fff
}

.cui3-checkbox--no-label .cui3-checkbox__checkmark {
    margin-top: 0;
    margin-right: 0
}

.cui3-checkbox__label {
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c;
    cursor: default
}

.cui3-checkbox input[type=checkbox][disabled]~.cui3-checkbox__checkmark {
    background: #eee;
    fill: #eee;
    box-shadow: inset 0 0 0 2px #b9babb
}

.cui3-checkbox input[type=checkbox][disabled]~.cui3-checkbox__label {
    color: #b9babb
}

.cui3-checkbox input[type=checkbox][disabled]:checked~.cui3-checkbox__checkmark {
    background: #b9babb;
    box-shadow: inset 0 0 0 2px #b9babb
}

.cui3-checkbox input[type=checkbox]:not([disabled])~.cui3-checkbox__checkmark {
    cursor: pointer
}

.cui3-checkbox input[type=checkbox]:focus:checked:not([disabled])~.cui3-checkbox__checkmark {
    background: #2966bd;
    box-shadow: inset 0 0 0 2px #2966bd
}

.cui3-checkbox input[type=checkbox]:focus:not(:checked):not([disabled])~.cui3-checkbox__checkmark {
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-checkbox input[type=checkbox]:checked~.cui3-checkbox__checkmark {
    background: #317ae2;
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-checkbox input[type=checkbox]:not([disabled]):checked:active~.cui3-checkbox__checkmark {
    background: #2966bd;
    box-shadow: inset 0 0 0 2px #2966bd
}

.cui3-checkbox input[type=checkbox]:not([disabled]):checked:hover:not(:active)~.cui3-checkbox__checkmark {
    background: #498ae5;
    box-shadow: inset 0 0 0 2px #498ae5
}

.cui3-checkbox input[type=checkbox]:not([disabled]):not(:checked):active~.cui3-checkbox__checkmark {
    background: #79a9f0;
    fill: #79a9f0;
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-checkbox input[type=checkbox]:not([disabled]):not(:checked):hover:not(:active)~.cui3-checkbox__checkmark {
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-checkbox--round .cui3-checkbox__checkmark {
    border-radius: 16px
}

.cui3-checkbox--round input[type=checkbox]:focus:checked:not([disabled])~.cui3-checkbox__checkmark {
    background: #309d4f;
    box-shadow: inset 0 0 0 2px #309d4f
}

.cui3-checkbox--round input[type=checkbox]:focus:not(:checked):not([disabled])~.cui3-checkbox__checkmark {
    box-shadow: inset 0 0 0 2px #2cbf55
}

.cui3-checkbox--round input[type=checkbox]:checked~.cui3-checkbox__checkmark {
    background: #2cbf55;
    box-shadow: inset 0 0 0 2px #2cbf55
}

.cui3-checkbox--round input[type=checkbox]:not([disabled]):checked:active~.cui3-checkbox__checkmark {
    background: #309d4f;
    box-shadow: inset 0 0 0 2px #309d4f
}

.cui3-checkbox--round input[type=checkbox]:not([disabled]):checked:hover:not(:active)~.cui3-checkbox__checkmark {
    background: #40c866;
    box-shadow: inset 0 0 0 2px #40c866
}

.cui3-checkbox--round input[type=checkbox]:not([disabled]):not(:checked):active~.cui3-checkbox__checkmark {
    background: #75d78f;
    fill: #75d78f;
    box-shadow: inset 0 0 0 2px #2cbf55
}

.cui3-checkbox--round input[type=checkbox]:not([disabled]):not(:checked):hover:not(:active)~.cui3-checkbox__checkmark {
    box-shadow: inset 0 0 0 2px #2cbf55
}

svg.cui-svg {
    display: none
}

svg.cui-svg path {
    fill: inherit
}

.cui3-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    fill: #404346;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-icon--white {
    fill: #fff
}

.cui3-icon--black {
    fill: #26292c
}

.cui3-icon--black-88 {
    fill: #404346
}

.cui3-icon--black-64 {
    fill: #747678
}

.cui3-icon--black-32 {
    fill: #b9babb
}

.cui3-icon--black-24 {
    fill: #cbcccd
}

.cui3-icon--black-16 {
    fill: #dcdddd
}

.cui3-icon--black-12 {
    fill: #e5e5e5
}

.cui3-icon--black-8 {
    fill: #eee
}

.cui3-icon--black-4 {
    fill: #f7f7f7
}

.cui3-icon--red-shade {
    fill: #c03c3e
}

.cui3-icon--red {
    fill: #e84646
}

.cui3-icon--red-tint {
    fill: #eb5d5d
}

.cui3-icon--green-shade {
    fill: #309d4f
}

.cui3-icon--green {
    fill: #2cbf55
}

.cui3-icon--green-tint {
    fill: #40c866
}

.cui3-icon--blue-shade {
    fill: #2966bd
}

.cui3-icon--blue {
    fill: #317ae2
}

.cui3-icon--blue-tint {
    fill: #498ae5
}

.cui3-icon--yellow {
    fill: #fc0
}

.cui3-icon--yellow-tint {
    fill: #ffdf5c
}

.cui3-icon--purple {
    fill: #800ace
}

.cui3-icon--s {
    height: 16px;
    width: 16px
}

svg.cui3-icon use {
    pointer-events: none
}

.cui3-input {
    position: relative;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box
}

.cui3-input input[type=date],
.cui3-input input[type=datetime-local],
.cui3-input input[type=email],
.cui3-input input[type=month],
.cui3-input input[type=number],
.cui3-input input[type=password],
.cui3-input input[type=search],
.cui3-input input[type=tel],
.cui3-input input[type=text],
.cui3-input input[type=time],
.cui3-input input[type=url],
.cui3-input input[type=week] {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #cbcccd;
    box-shadow: inset 0 1px 2px #eee;
    box-sizing: border-box;
    display: block;
    padding: 4px 8px;
    height: 32px;
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c;
    transition: padding 75ms ease-in-out
}

.cui3-input input[type=date][disabled],
.cui3-input input[type=date][readonly],
.cui3-input input[type=datetime-local][disabled],
.cui3-input input[type=datetime-local][readonly],
.cui3-input input[type=email][disabled],
.cui3-input input[type=email][readonly],
.cui3-input input[type=month][disabled],
.cui3-input input[type=month][readonly],
.cui3-input input[type=number][disabled],
.cui3-input input[type=number][readonly],
.cui3-input input[type=password][disabled],
.cui3-input input[type=password][readonly],
.cui3-input input[type=search][disabled],
.cui3-input input[type=search][readonly],
.cui3-input input[type=tel][disabled],
.cui3-input input[type=tel][readonly],
.cui3-input input[type=text][disabled],
.cui3-input input[type=text][readonly],
.cui3-input input[type=time][disabled],
.cui3-input input[type=time][readonly],
.cui3-input input[type=url][disabled],
.cui3-input input[type=url][readonly],
.cui3-input input[type=week][disabled],
.cui3-input input[type=week][readonly] {
    background: #f7f7f7
}

.cui3-input input[type=date][disabled],
.cui3-input input[type=datetime-local][disabled],
.cui3-input input[type=email][disabled],
.cui3-input input[type=month][disabled],
.cui3-input input[type=number][disabled],
.cui3-input input[type=password][disabled],
.cui3-input input[type=search][disabled],
.cui3-input input[type=tel][disabled],
.cui3-input input[type=text][disabled],
.cui3-input input[type=time][disabled],
.cui3-input input[type=url][disabled],
.cui3-input input[type=week][disabled] {
    color: #747678
}

.cui3-input input[type=date]:focus,
.cui3-input input[type=datetime-local]:focus,
.cui3-input input[type=email]:focus,
.cui3-input input[type=month]:focus,
.cui3-input input[type=number]:focus,
.cui3-input input[type=password]:focus,
.cui3-input input[type=search]:focus,
.cui3-input input[type=tel]:focus,
.cui3-input input[type=text]:focus,
.cui3-input input[type=time]:focus,
.cui3-input input[type=url]:focus,
.cui3-input input[type=week]:focus {
    border: 1px solid #317ae2;
    box-shadow: inset 0 1px 2px rgba(49, 122, 226, .08);
    outline: none
}

.cui3-input input[type=date]:-ms-input-placeholder,
.cui3-input input[type=datetime-local]:-ms-input-placeholder,
.cui3-input input[type=email]:-ms-input-placeholder,
.cui3-input input[type=month]:-ms-input-placeholder,
.cui3-input input[type=number]:-ms-input-placeholder,
.cui3-input input[type=password]:-ms-input-placeholder,
.cui3-input input[type=search]:-ms-input-placeholder,
.cui3-input input[type=tel]:-ms-input-placeholder,
.cui3-input input[type=text]:-ms-input-placeholder,
.cui3-input input[type=time]:-ms-input-placeholder,
.cui3-input input[type=url]:-ms-input-placeholder,
.cui3-input input[type=week]:-ms-input-placeholder {
    color: #b9babb;
    opacity: 1
}

.cui3-input input[type=date]::placeholder,
.cui3-input input[type=datetime-local]::placeholder,
.cui3-input input[type=email]::placeholder,
.cui3-input input[type=month]::placeholder,
.cui3-input input[type=number]::placeholder,
.cui3-input input[type=password]::placeholder,
.cui3-input input[type=search]::placeholder,
.cui3-input input[type=tel]::placeholder,
.cui3-input input[type=text]::placeholder,
.cui3-input input[type=time]::placeholder,
.cui3-input input[type=url]::placeholder,
.cui3-input input[type=week]::placeholder {
    color: #b9babb;
    opacity: 1
}

.cui3-input__icon {
    position: absolute
}

.cui3-input--icon-left input[type=date],
.cui3-input--icon-left input[type=datetime-local],
.cui3-input--icon-left input[type=email],
.cui3-input--icon-left input[type=month],
.cui3-input--icon-left input[type=number],
.cui3-input--icon-left input[type=password],
.cui3-input--icon-left input[type=search],
.cui3-input--icon-left input[type=tel],
.cui3-input--icon-left input[type=text],
.cui3-input--icon-left input[type=time],
.cui3-input--icon-left input[type=url],
.cui3-input--icon-left input[type=week] {
    padding-left: 32px
}

.cui3-input--icon-left .cui3-input__icon {
    top: 50%;
    left: 8px;
    margin-top: -8px
}

.cui3-input--icon-right input[type=date],
.cui3-input--icon-right input[type=datetime-local],
.cui3-input--icon-right input[type=email],
.cui3-input--icon-right input[type=month],
.cui3-input--icon-right input[type=number],
.cui3-input--icon-right input[type=password],
.cui3-input--icon-right input[type=search],
.cui3-input--icon-right input[type=tel],
.cui3-input--icon-right input[type=text],
.cui3-input--icon-right input[type=time],
.cui3-input--icon-right input[type=url],
.cui3-input--icon-right input[type=week] {
    padding-right: 32px
}

.cui3-input--icon-right .cui3-input__icon {
    top: 50%;
    right: 8px;
    margin-top: -8px
}

.cui3-input__box {
    position: relative
}

.cui3-input__label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #747678
}

.cui3-input__message {
    margin-top: 4px;
    color: #b9babb
}

.cui3-input--red input[type=date],
.cui3-input--red input[type=datetime-local],
.cui3-input--red input[type=email],
.cui3-input--red input[type=month],
.cui3-input--red input[type=number],
.cui3-input--red input[type=password],
.cui3-input--red input[type=search],
.cui3-input--red input[type=tel],
.cui3-input--red input[type=text],
.cui3-input--red input[type=time],
.cui3-input--red input[type=url],
.cui3-input--red input[type=week] {
    border: 1px solid #e84646
}

.cui3-input--red .cui3-input__message {
    color: #e84646
}

.cui3-message {
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: height .2s, opacity .2s;
    border-radius: 2px;
    color: #26292c;
    background-color: #eff5fd;
    border: 1px solid #cddff9
}

.cui3-message--visible {
    opacity: 1
}

.cui3-message--yellow {
    background-color: #fff7d6;
    border: 1px solid #ffdf5c
}

.cui3-message--green {
    background-color: #dcf5e3;
    border: 1px solid #75d78f
}

.cui3-message--red {
    background-color: #fce1e1;
    border: 1px solid #f28887
}

.cui3-message--alternative {
    border-top: none
}

.cui3-message--alternative,
.cui3-message--alternative-bottom,
.cui3-message--alternative-middle {
    border-radius: 0;
    border-left: none;
    border-right: none
}

.cui3-message--alternative-bottom {
    border-bottom: none
}

.cui3-message--align-center .cui3-message__content-wrap {
    align-items: center
}

.cui3-message--no-animation {
    transition: none
}

.cui3-message__inner {
    position: relative;
    padding: 12px 16px
}

.cui3-message__icon {
    position: absolute;
    top: 16px;
    left: 16px
}

.cui3-message__content-wrap {
    overflow: hidden;
    margin-top: 2px
}

.cui3-message__icon+.cui3-message__content-wrap {
    margin-left: 32px
}

.cui3-message__content-wrap:not(:last-child)>:first-child {
    margin-right: 24px
}

.cui3-message__title {
    font-weight: 600
}

.cui3-message__close {
    position: absolute;
    top: 12px;
    right: 16px
}

.cui3-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6000;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    text-align: center;
    transition: .15s;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0)
}

.cui3-modal--visible {
    opacity: 1;
    visibility: visible
}

.cui3-modal--visible .cui3-modal__wrap {
    transform: translateZ(0)
}

.cui3-modal__wrap {
    display: inline-block;
    text-align: left;
    margin: auto;
    border-radius: 0 0 2px 2px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 10px 45px rgba(38, 41, 44, .88);
    transition: transform .15s;
    transform: translate3d(0, -100%, 0);
    max-height: 101vh;
    max-width: calc(100vw - 64px)
}

.cui3-modal__header {
    font: 600 16px/24px Open Sans, sans-serif;
    color: #26292c;
    padding: 12px 48px 12px 16px;
    height: 48px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    box-sizing: border-box
}

.cui3-modal__header h3 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.cui3-modal__content {
    font: 400 14px/20px Open Sans, sans-serif;
    padding: 16px;
    background-color: #fff;
    min-width: 320px;
    min-height: 72px;
    max-height: calc(100vh - 48px - 48px);
    overflow: auto;
    width: 100%;
    box-sizing: border-box
}

.cui3-modal__content:last-child {
    max-height: calc(100vh - 48px)
}

.cui3-modal__footer {
    font-size: 14px;
    padding: 8px 16px;
    height: 48px;
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box
}

.cui3-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(38, 41, 44, .32)
}

.cui3-modal__close {
    position: absolute;
    right: 16px;
    top: 12px
}

.cui3-modal__container--no-overflow {
    overflow: hidden
}

.cui3-panel {
    padding: 15px;
    border-radius: 2px;
    font: 400 14px/20px Open Sans, sans-serif;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 24px;
    background: #fff;
    border: 1px solid #e5e5e5
}

.cui3-panel--green {
    background: #dcf5e3;
    border: 1px solid #75d78f
}

.cui3-panel--blue {
    background: #eff5fd;
    border: 1px solid #cddff9
}

.cui3-panel--yellow {
    background: #fff7d6;
    border: 1px solid #ffdf5c
}

.cui3-panel--red {
    background: #fce1e1;
    border: 1px solid #f28887
}

.cui3-panel--note-yellow {
    background: #fffcdc;
    border: 1px solid #e5e5e5
}

.cui3-panel--transparent {
    background: transparent;
    border: 1px solid #e5e5e5
}

.cui3-panel--l {
    padding: 24px
}

.cui3-panel--s {
    padding: 8px
}

.cui3-panel--xs {
    padding: 0
}

.cui3-panel--no-margin {
    margin-bottom: 0
}

.cui3-pill {
    height: 24px;
    min-width: 8px;
    padding: 0 8px;
    box-sizing: border-box;
    background: #e5e5e5;
    border-radius: 16px;
    font: 600 12px/16px Open Sans, sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    cursor: default;
    vertical-align: top
}

.cui3-pill__label {
    box-sizing: border-box;
    padding: 0 4px
}

.cui3-pill--s {
    height: 16px;
    border-radius: 8px;
    font: 600 10px/14px Open Sans, sans-serif;
    padding: 0 2px
}

.cui3-pill--green {
    background: #2cbf55;
    color: #fff
}

.cui3-pill--blue {
    background: #317ae2;
    color: #fff
}

.cui3-pill--red {
    background: #e84646;
    color: #fff
}

.cui3-pill--yellow {
    background: #fc0
}

.cui3-pill--white {
    background: #fff
}

.cui3-pill--purple {
    background: #800ace;
    color: #fff
}

.cui3-pill--outline {
    background: hsla(0, 0%, 100%, .16);
    color: #747678;
    box-shadow: inset 0 0 0 1px #dcdddd
}

.cui3-pill--outline.cui3-pill--green {
    background: rgba(44, 191, 85, .16);
    color: #309d4f;
    box-shadow: inset 0 0 0 1px #2cbf55
}

.cui3-pill--outline.cui3-pill--blue {
    background: rgba(49, 122, 226, .16);
    color: #317ae2;
    box-shadow: inset 0 0 0 1px #317ae2
}

.cui3-pill--outline.cui3-pill--red {
    background: rgba(232, 70, 70, .16);
    color: #e84646;
    box-shadow: inset 0 0 0 1px #e84646
}

.cui3-pill--outline.cui3-pill--yellow {
    background: rgba(255, 204, 0, .16);
    color: #d6ab00;
    box-shadow: inset 0 0 0 1px #fc0
}

.cui3-pill--outline.cui3-pill--purple {
    background: rgba(128, 10, 206, .16);
    color: #800ace;
    box-shadow: inset 0 0 0 1px #800ace
}

.cui3-pill--outline.cui3-pill--white {
    background: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 1px #fff
}

.cui3-popover {
    position: absolute;
    display: block;
    visibility: visible;
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #b9babb;
    box-shadow: 0 2px 8px 0 rgba(38, 41, 44, .12)
}

.cui3-popover--hidden,
.cui3-popover-hidden {
    display: none
}

.cui3-popover__arrow,
.cui3-popover__arrow-inner {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.cui3-popover__inner {
    margin: 0
}

.cui3-popover--placement-top-left .cui3-popover__arrow,
.cui3-popover--placement-top-right .cui3-popover__arrow,
.cui3-popover--placement-top .cui3-popover__arrow,
.cui3-popover-placement-top-left .cui3-popover__arrow,
.cui3-popover-placement-top-right .cui3-popover__arrow,
.cui3-popover-placement-top .cui3-popover__arrow {
    bottom: -6px;
    border-width: 6px 6px 0;
    border-top-color: #b9babb
}

.cui3-popover--placement-top-left .cui3-popover__arrow-inner,
.cui3-popover--placement-top-right .cui3-popover__arrow-inner,
.cui3-popover--placement-top .cui3-popover__arrow-inner,
.cui3-popover-placement-top-left .cui3-popover__arrow-inner,
.cui3-popover-placement-top-right .cui3-popover__arrow-inner,
.cui3-popover-placement-top .cui3-popover__arrow-inner {
    bottom: 1px;
    margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #fff
}

.cui3-popover--placement-top .cui3-popover__arrow,
.cui3-popover-placement-top .cui3-popover__arrow {
    left: calc(50% - 6px)
}

.cui3-popover--placement-top-left .cui3-popover__arrow,
.cui3-popover-placement-top-left .cui3-popover__arrow {
    left: 8px
}

.cui3-popover--placement-top-right .cui3-popover__arrow,
.cui3-popover-placement-top-right .cui3-popover__arrow {
    right: 8px
}

.cui3-popover--placement-right-bottom .cui3-popover__arrow,
.cui3-popover--placement-right-top .cui3-popover__arrow,
.cui3-popover--placement-right .cui3-popover__arrow,
.cui3-popover-placement-right-bottom .cui3-popover__arrow,
.cui3-popover-placement-right-top .cui3-popover__arrow,
.cui3-popover-placement-right .cui3-popover__arrow {
    left: -6px;
    border-width: 6px 6px 6px 0;
    border-right-color: #b9babb
}

.cui3-popover--placement-right-bottom .cui3-popover__arrow-inner,
.cui3-popover--placement-right-top .cui3-popover__arrow-inner,
.cui3-popover--placement-right .cui3-popover__arrow-inner,
.cui3-popover-placement-right-bottom .cui3-popover__arrow-inner,
.cui3-popover-placement-right-top .cui3-popover__arrow-inner,
.cui3-popover-placement-right .cui3-popover__arrow-inner {
    left: 1px;
    margin-top: -6px;
    border-width: 6px 6px 6px 0;
    border-right-color: #fff
}

.cui3-popover--placement-right .cui3-popover__arrow,
.cui3-popover-placement-right .cui3-popover__arrow {
    top: calc(50% - 6px)
}

.cui3-popover--placement-right-top .cui3-popover__arrow,
.cui3-popover-placement-right-top .cui3-popover__arrow {
    top: 8px;
    margin-top: 0
}

.cui3-popover--placement-right-bottom .cui3-popover__arrow,
.cui3-popover-placement-right-bottom .cui3-popover__arrow {
    bottom: 8px
}

.cui3-popover--placement-left-bottom .cui3-popover__arrow,
.cui3-popover--placement-left-top .cui3-popover__arrow,
.cui3-popover--placement-left .cui3-popover__arrow,
.cui3-popover-placement-left-bottom .cui3-popover__arrow,
.cui3-popover-placement-left-top .cui3-popover__arrow,
.cui3-popover-placement-left .cui3-popover__arrow {
    right: -6px;
    border-width: 6px 0 6px 6px;
    border-left-color: #b9babb
}

.cui3-popover--placement-left-bottom .cui3-popover__arrow-inner,
.cui3-popover--placement-left-top .cui3-popover__arrow-inner,
.cui3-popover--placement-left .cui3-popover__arrow-inner,
.cui3-popover-placement-left-bottom .cui3-popover__arrow-inner,
.cui3-popover-placement-left-top .cui3-popover__arrow-inner,
.cui3-popover-placement-left .cui3-popover__arrow-inner {
    right: 1px;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-left-color: #fff
}

.cui3-popover--placement-left .cui3-popover__arrow,
.cui3-popover-placement-left .cui3-popover__arrow {
    top: calc(50% - 6px)
}

.cui3-popover--placement-left-top .cui3-popover__arrow,
.cui3-popover-placement-left-top .cui3-popover__arrow {
    top: 8px;
    margin-top: 0
}

.cui3-popover--placement-left-bottom .cui3-popover__arrow,
.cui3-popover-placement-left-bottom .cui3-popover__arrow {
    bottom: 8px
}

.cui3-popover--placement-bottom-left .cui3-popover__arrow,
.cui3-popover--placement-bottom-right .cui3-popover__arrow,
.cui3-popover--placement-bottom .cui3-popover__arrow,
.cui3-popover-placement-bottom-left .cui3-popover__arrow,
.cui3-popover-placement-bottom-right .cui3-popover__arrow,
.cui3-popover-placement-bottom .cui3-popover__arrow {
    top: -6px;
    border-width: 0 6px 6px;
    border-bottom-color: #b9babb
}

.cui3-popover--placement-bottom-left .cui3-popover__arrow-inner,
.cui3-popover--placement-bottom-right .cui3-popover__arrow-inner,
.cui3-popover--placement-bottom .cui3-popover__arrow-inner,
.cui3-popover-placement-bottom-left .cui3-popover__arrow-inner,
.cui3-popover-placement-bottom-right .cui3-popover__arrow-inner,
.cui3-popover-placement-bottom .cui3-popover__arrow-inner {
    top: 1px;
    margin-left: -6px;
    border-width: 0 6px 6px;
    border-bottom-color: #fff
}

.cui3-popover--placement-bottom .cui3-popover__arrow,
.cui3-popover-placement-bottom .cui3-popover__arrow {
    left: calc(50% - 6px)
}

.cui3-popover--placement-bottom-left .cui3-popover__arrow,
.cui3-popover-placement-bottom-left .cui3-popover__arrow {
    left: 8px
}

.cui3-popover--placement-bottom-right .cui3-popover__arrow,
.cui3-popover-placement-bottom-right .cui3-popover__arrow {
    right: 8px
}

.cui3-progressbar {
    height: 8px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    background-color: #e5e5e5
}

.cui3-progressbar__progress {
    background-color: #b9babb;
    position: absolute;
    border-radius: 16px;
    height: 100%;
    min-width: 8px;
    transition: width .15s ease-in-out
}

.cui3-progressbar--red .cui3-progressbar__progress {
    background-color: #e84646
}

.cui3-progressbar--green .cui3-progressbar__progress {
    background-color: #2cbf55
}

.cui3-progressbar--blue .cui3-progressbar__progress {
    background-color: #317ae2
}

.cui3-progressbar--yellow .cui3-progressbar__progress {
    background-color: #fc0
}

.cui3-progressbar--purple .cui3-progressbar__progress {
    background-color: #800ace
}

.cui3-progressbar--s,
.cui3-progressbar--s .cui3-progressbar__progress {
    height: 4px
}

.cui3-progressbar--l,
.cui3-progressbar--l .cui3-progressbar__progress {
    height: 16px
}

.cui3-progressbar--no-background {
    background-color: transparent
}

.cui3-progressbar+.cui3-progressbar {
    margin-top: 8px
}

.cui3-radio {
    display: inline-flex;
    box-sizing: border-box
}

.cui3-radio input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: -1
}

.cui3-radio__dot {
    display: inline-block;
    margin-top: 2px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: inset 0 0 0 2px #b9babb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-radio--no-label .cui3-radio__dot {
    margin-top: 0;
    margin-right: 0
}

.cui3-radio__label {
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c;
    cursor: default
}

.cui3-radio input[type=radio][disabled]~.cui3-radio__dot {
    box-shadow: inset 0 0 0 2px #b9babb;
    border-color: #b9babb
}

.cui3-radio input[type=radio][disabled]~.cui3-radio__label {
    color: #b9babb
}

.cui3-radio input[type=radio]:not([disabled])~.cui3-radio__dot {
    cursor: pointer
}

.cui3-radio input[type=radio][disabled]:checked~.cui3-radio__dot {
    box-shadow: inset 0 0 0 4px #b9babb
}

.cui3-radio input[type=radio]:focus:checked:not([disabled])~.cui3-radio__dot {
    box-shadow: inset 0 0 0 4px #2966bd
}

.cui3-radio input[type=radio]:focus:not(:checked):not([disabled])~.cui3-radio__dot {
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-radio input[type=radio]:not([disabled]):checked~.cui3-radio__dot {
    box-shadow: inset 0 0 0 4px #317ae2
}

.cui3-radio input[type=radio]:not([disabled]):checked:active~.cui3-radio__dot {
    box-shadow: inset 0 0 0 4px #2966bd
}

.cui3-radio input[type=radio]:not([disabled]):checked:hover:not(:active)~.cui3-radio__dot {
    box-shadow: inset 0 0 0 4px #498ae5
}

.cui3-radio input[type=radio]:not([disabled]):not(:checked):active~.cui3-radio__dot {
    box-shadow: inset 0 0 0 2px #317ae2;
    background: #79a9f0
}

.cui3-radio input[type=radio]:not([disabled]):not(:checked):hover:not(:active)~.cui3-radio__dot {
    box-shadow: inset 0 0 0 2px #317ae2
}

.cui3-select {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 32px;
    padding: 6px 8px;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #26292c;
    background: #fff;
    box-shadow: inset 0 1px 2px 0 #dcdddd;
    border: 1px solid #cbcccd;
    font: 400 14px/20px Open Sans, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.cui3-select--no-value {
    color: #b9babb
}

.cui3-select--open:not(.cui3-select--top) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.cui3-select--open.cui3-select--top {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.cui3-select--has-clear {
    padding-right: 40px
}

.cui3-select--disabled {
    background-color: #eee;
    color: #747678
}

.cui3-select:focus {
    outline: none
}

.cui3-select:focus:not(.cui3-select--open) {
    border: 1px solid #317ae2;
    box-shadow: inset 0 1px 2px rgba(49, 122, 226, .08);
    outline: none
}

.cui3-select--disabled .cui3-select__toggle {
    fill: #b9babb
}

.cui3-select--disabled.cui3-select--no-value {
    color: #cbcccd
}

.cui3-select__clear {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 12px;
    height: 12px;
    fill: #747678
}

.cui3-select__clear:hover {
    fill: #26292c
}

.cui3-select__toggle {
    position: absolute;
    top: 8px;
    right: 8px
}

.cui3-select__popup {
    display: inline-block;
    width: 320px;
    max-height: 70vh;
    border-radius: 2px;
    color: #26292c;
    background: #fff;
    box-shadow: 0 1px 2px 0 #e5e5e5;
    border: 1px solid #cbcccd
}

.cui3-select__popup--hidden,
.cui3-select__popup-hidden {
    display: none
}

.cui3-select__options {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto
}

.cui3-select__filter+.cui3-select__options {
    max-height: calc(70vh - 45px)
}

.cui3-select__filter {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5
}

.cui3-select__filter-not-found {
    padding: 8px;
    font: 400 12px/16px Open Sans, sans-serif;
    color: #747678
}

.cui3-select__option {
    padding: 6px 16px;
    position: relative;
    font: 400 14px/20px Open Sans, sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-select__option-check {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
    fill: #317ae2
}

.cui3-select__option:hover:not(.cui3-select__option--disabled) {
    color: #fff;
    background: #317ae2
}

.cui3-select__option:hover .cui3-select__option-check {
    fill: #fff
}

.cui3-select__option--selected {
    font-weight: 600;
    padding-right: 32px
}

.cui3-select__option--disabled {
    color: #b9babb;
    cursor: not-allowed
}

.cui3-select__option-group {
    width: 100%;
    background-color: #e5e5e5;
    padding: 2px 8px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #747678;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-select__option-group:empty {
    height: 1px;
    padding: 0
}

.cui3-snackbar {
    transition: bottom .4s, opacity .4s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    min-height: 48px;
    background-color: #26292c;
    position: fixed;
    min-width: 288px;
    max-width: 568px;
    margin: 24px;
    bottom: 0;
    opacity: 1;
    color: #fff;
    box-shadow: 0 2px 4px rgba(38, 41, 44, .24);
    border-radius: 4px;
    line-height: 20px;
    padding: 0 24px;
    left: 0;
    top: auto;
    z-index: 9999
}

.cui3-snackbar--hidden {
    bottom: -100px;
    opacity: 0
}

.cui3-snackbar__snack-content {
    width: 100%;
    display: table;
    padding: 14px 0;
    position: relative
}

.cui3-snackbar .cui3-snackbar__spinner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px
}

.cui3-snackbar__spinner+.cui3-snackbar__message {
    padding-left: 32px
}

.cui3-snackbar__message {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    word-break: break-word;
    padding-right: 48px
}

.cui3-snackbar p:last-child {
    padding-right: 0
}

.cui3-snackbar__action {
    background: inherit;
    display: table-cell;
    float: right;
    font-weight: 600;
    text-transform: uppercase;
    color: #fc0;
    white-space: nowrap;
    cursor: pointer
}

.cui3-snackbar__action:hover {
    opacity: .84
}

.cui3-snackbar__close+.cui3-snackbar__action {
    margin-right: 40px
}

.cui3-snackbar__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 0;
    cursor: pointer
}

.cui3-snackbar__close:hover {
    opacity: .84
}

.cui3-spinner,
.cui3-spinner__trail {
    position: relative;
    display: inline-block;
    box-sizing: border-box
}

.cui3-spinner__trail {
    animation: a 2s ease infinite;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
    width: 24px;
    height: 24px;
    border-top: 2px solid #2cbf55;
    border-right: 2px solid #2cbf55
}

.cui3-spinner--s .cui3-spinner__trail {
    width: 16px;
    height: 16px
}

.cui3-spinner--l .cui3-spinner__trail {
    width: 32px;
    height: 32px
}

.cui3-spinner--xl .cui3-spinner__trail {
    width: 64px;
    height: 64px
}

.cui3-spinner--xl .cui3-spinner__trail+.cui3-spinner__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 16px;
    width: 16px;
    margin: -8px;
    fill: #cbcccd
}

.cui3-spinner--light .cui3-spinner__trail {
    border-top: 2px solid #b9babb;
    border-right: 2px solid #b9babb
}

.cui3-spinner--dark-background .cui3-spinner__trail {
    border: 2px solid hsla(0, 0%, 100%, .16);
    border-top: 2px solid #2cbf55;
    border-right: 2px solid #2cbf55
}

.cui3-spinner--dark-background .cui3-spinner__trail+.cui3-spinner__icon {
    fill: hsla(0, 0%, 100%, .16)
}

.cui3-spinner--dark-background.cui3-spinner--light .cui3-spinner__trail {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff
}

@keyframes a {
    0% {
        transform: rotate(-45deg)
    }
    40% {
        transform: rotate(315deg)
    }
    to {
        transform: rotate(1035deg)
    }
}

.cui3-textarea {
    font-size: 12px;
    font-family: Open Sans, sans-serif
}

.cui3-textarea textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    border: 1px solid #cbcccd;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    padding: 8px;
    box-shadow: inset 0 1px 2px #eee;
    transition: box-shadow .1s ease-in-out, border .1s ease-in-out
}

.cui3-textarea textarea:focus {
    outline: none;
    border: 1px solid #317ae2;
    box-shadow: inset 0 1px 2px rgba(49, 122, 226, .08)
}

.cui3-textarea textarea[disabled] {
    background: #f7f7f7;
    color: #747678
}

.cui3-textarea textarea[readonly] {
    background: #f7f7f7
}

.cui3-textarea__label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #747678
}

.cui3-textarea__message {
    margin-top: 4px;
    color: #b9babb
}

.cui3-textarea--green textarea {
    border: 1px solid #2cbf55
}

.cui3-textarea--green .cui3-textarea__message {
    color: #2cbf55
}

.cui3-textarea--red textarea {
    border: 1px solid #e84646
}

.cui3-textarea--red .cui3-textarea__message {
    color: #e84646
}

.cui3-toggle {
    display: inline-flex;
    box-sizing: border-box
}

.cui3-toggle input[type=checkbox] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 32px;
    height: 16px;
    margin: 0
}

.cui3-toggle__switch {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 16px;
    margin: 2px 0;
    background-color: #dcdddd;
    border-radius: 16px;
    transition: background-color 75ms ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cui3-toggle__switch:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    transition: left 75ms ease-in-out, right 75ms ease-in-out
}

input[type=checkbox]:checked~.cui3-toggle__switch:after {
    left: 16px
}

input[type=checkbox][disabled]~.cui3-toggle__switch {
    cursor: default
}

input[type=checkbox]:checked:not([disabled])~.cui3-toggle__switch {
    background-color: #2cbf55
}

input[type=checkbox]:checked[disabled]~.cui3-toggle__switch {
    background-color: #75d78f
}

input[type=checkbox]:checked[disabled]~.cui3-toggle__switch:after {
    background-color: #dcf5e3
}

input[type=checkbox]:not(:checked)[disabled]~.cui3-toggle__switch:after {
    background-color: #eee
}

.cui3-toggle:hover input[type=checkbox]:checked:not([disabled])~.cui3-toggle__switch {
    background-color: #40c866
}

.cui3-toggle:hover input[type=checkbox]:not(:checked):not([disabled])~.cui3-toggle__switch {
    background-color: #cbcccd
}

.cui3-toggle:active input[type=checkbox]:checked:not([disabled])~.cui3-toggle__switch,
.cui3-toggle:focus input[type=checkbox]:checked:not([disabled])~.cui3-toggle__switch {
    background-color: #309d4f
}

.cui3-toggle:active input[type=checkbox]:not(:checked):not([disabled])~.cui3-toggle__switch,
.cui3-toggle:focus input[type=checkbox]:not(:checked):not([disabled])~.cui3-toggle__switch {
    background-color: #b9babb
}

.cui3-toggle__label {
    font: 400 14px/20px Open Sans, sans-serif;
    color: #26292c;
    padding-left: 8px;
    cursor: pointer
}

input[type=checkbox][disabled]~.cui3-toggle__label {
    color: #747678;
    cursor: default
}

.cui3-toggle--l .cui3-toggle__switch {
    margin: 0;
    width: 48px;
    height: 24px
}

.cui3-toggle--l .cui3-toggle__switch:after {
    width: 20px;
    height: 20px
}

.cui3-toggle--l .cui3-toggle__label {
    padding: 2px 0 2px 8px
}

.cui3-toggle--l input[type=checkbox]:checked~.cui3-toggle__switch:after {
    left: 24px
}

.cui3-tooltip {
    position: absolute;
    display: block;
    visibility: visible;
    font: 400 12px/16px Open Sans, sans-serif;
    color: #fff;
    background-color: #26292c;
    border-radius: 2px;
    border: 0 solid #26292c;
    box-shadow: 0 2px 8px 0 rgba(38, 41, 44, .12)
}

.cui3-tooltip--hidden,
.cui3-tooltip-hidden {
    display: none
}

.cui3-tooltip__arrow,
.cui3-tooltip__arrow-inner {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.cui3-tooltip__inner {
    margin: 4px 8px
}

.cui3-tooltip--placement-top-left .cui3-tooltip__arrow,
.cui3-tooltip--placement-top-right .cui3-tooltip__arrow,
.cui3-tooltip--placement-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-top-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-top-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-top .cui3-tooltip__arrow {
    bottom: -4px;
    border-width: 4px 4px 0;
    border-top-color: #26292c
}

.cui3-tooltip--placement-top-left .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-top-right .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-top .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-top-left .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-top-right .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-top .cui3-tooltip__arrow-inner {
    bottom: 0;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #26292c
}

.cui3-tooltip--placement-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-top .cui3-tooltip__arrow {
    left: calc(50% - 4px)
}

.cui3-tooltip--placement-top-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-top-left .cui3-tooltip__arrow {
    left: 8px
}

.cui3-tooltip--placement-top-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-top-right .cui3-tooltip__arrow {
    right: 8px
}

.cui3-tooltip--placement-right-bottom .cui3-tooltip__arrow,
.cui3-tooltip--placement-right-top .cui3-tooltip__arrow,
.cui3-tooltip--placement-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-right-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-right-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-right .cui3-tooltip__arrow {
    left: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #26292c
}

.cui3-tooltip--placement-right-bottom .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-right-top .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-right .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-right-bottom .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-right-top .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-right .cui3-tooltip__arrow-inner {
    left: 0;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #26292c
}

.cui3-tooltip--placement-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-right .cui3-tooltip__arrow {
    top: calc(50% - 4px)
}

.cui3-tooltip--placement-right-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-right-top .cui3-tooltip__arrow {
    top: 8px;
    margin-top: 0
}

.cui3-tooltip--placement-right-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-right-bottom .cui3-tooltip__arrow {
    bottom: 8px
}

.cui3-tooltip--placement-left-bottom .cui3-tooltip__arrow,
.cui3-tooltip--placement-left-top .cui3-tooltip__arrow,
.cui3-tooltip--placement-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-left-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-left-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-left .cui3-tooltip__arrow {
    right: -4px;
    border-width: 4px 0 4px 4px;
    border-left-color: #26292c
}

.cui3-tooltip--placement-left-bottom .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-left-top .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-left .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-left-bottom .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-left-top .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-left .cui3-tooltip__arrow-inner {
    right: 0;
    margin-top: -4px;
    border-width: 4px 0 4px 4px;
    border-left-color: #26292c
}

.cui3-tooltip--placement-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-left .cui3-tooltip__arrow {
    top: calc(50% - 4px)
}

.cui3-tooltip--placement-left-top .cui3-tooltip__arrow,
.cui3-tooltip-placement-left-top .cui3-tooltip__arrow {
    top: 8px;
    margin-top: 0
}

.cui3-tooltip--placement-left-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-left-bottom .cui3-tooltip__arrow {
    bottom: 8px
}

.cui3-tooltip--placement-bottom-left .cui3-tooltip__arrow,
.cui3-tooltip--placement-bottom-right .cui3-tooltip__arrow,
.cui3-tooltip--placement-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom .cui3-tooltip__arrow {
    top: -4px;
    border-width: 0 4px 4px;
    border-bottom-color: #26292c
}

.cui3-tooltip--placement-bottom-left .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-bottom-right .cui3-tooltip__arrow-inner,
.cui3-tooltip--placement-bottom .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-bottom-left .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-bottom-right .cui3-tooltip__arrow-inner,
.cui3-tooltip-placement-bottom .cui3-tooltip__arrow-inner {
    top: 0;
    margin-left: -4px;
    border-width: 0 4px 4px;
    border-bottom-color: #26292c
}

.cui3-tooltip--placement-bottom .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom .cui3-tooltip__arrow {
    left: calc(50% - 4px)
}

.cui3-tooltip--placement-bottom-left .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom-left .cui3-tooltip__arrow {
    left: 8px
}

.cui3-tooltip--placement-bottom-right .cui3-tooltip__arrow,
.cui3-tooltip-placement-bottom-right .cui3-tooltip__arrow {
    right: 8px
}

.cui3-trend {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    height: 24px;
    font: 400 12px/16px Open Sans, sans-serif;
    color: #747678
}

.cui3-trend__text {
    padding-right: 4px
}


/*# sourceMappingURL=main.css.map */