<footer>
  <div class="align-items-end sticky-footer" id="talentfoot">
    <hr>
    <div class="row mx-0">
      <div class="col-md-4" align="left">
        <p>
          <span class="footerleft">
            <img src="../../../../assets/img/Logos/talentlogo_small_banner.png">
          </span>
          <span class="footerversiontext">
            <b>Talent<span>©</span> - Version {{version}} </b><br /> The Industry 4.0 Smart ATS
          </span>
        </p>
      </div>
      <div class="col-md-4" align="center">
        <p>
          <a class="loghistretti">
            <img src="../../../../assets/img/icons/loghistretti.png">
          </a>
        </p>
      </div>
      <div class="col-md-4" align="right">
        <p class="footerparagraph">
          <span> Powered By </span>
          <a href="https://www.itpartneritalia.com" target="_blank">
            <img src="../../../../assets/img/clients/logo-itpita.png">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

